<div class="navbar-header">
	<a ui-sref="base.home" ng-click="reset()" class="navbar-brand">JY</a>
	<button type="button" class="navbar-toggle" 
		data-toggle="collapse" 
		data-target=".navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
</div>
<div class="collapse navbar-collapse">
	<ul class="nav navbar-nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown">
				Demos
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" role="menu">
				<li><a ui-sref="base.demo.sudoku" ng-click="reset()">
					Sudoku Solver
				</a></li>
				<li><a ui-sref="base.demo.modulo" ng-click="reset()">
					FSM and Modulus
				</a></li>
				<li><a ui-sref="base.demo.quadrature" ng-click="reset()">
					Adaptive Quadrature
				</a></li>
				<li><a ui-sref="base.demo.pi" ng-click="reset()">
					PI Approximations
				</a></li>
			</ul>
		</li>
	</ul>
</div>