<div class="jumbotron-container" jumbtron-background>
	<div class="jumbotron">
		<div class="container">
			<h1>Hello,</h1>
			<p>
				and welcome to my e-portfolio!
			</p>
			<p>
				<a class="btn btn-primary btn-lg" role="button"
					ng-click="goToRandomDemo()">
					Try a random demo! &raquo;
				</a>
			</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<h1>What</h1>
		<div class="col-md-10">
			<p>
				This website is an e-portfolio meant to showcase what I am capable of creating,
				and also demo anything mildly interesting I have created over the years.
			</p>
			<p>
				It is hosted by Heroku (on one dyno), written in node.js, and uses AngularJS as a front-end framework.
				This site is optimally viewed in Chrome. Firefox and Safari would also work well.
			</p>
			<p>
				This website contains ports of projects I have completed 
				or even simple scripts I have written
				in Java, C++, Matlab, etc... These pieces of code have been converted
				into JavaScript and are here for your hopefully viewing pleasure.
			</p>
			<p>
				Notable frameworks used
			</p>
			<div class="row">
				<div class="col-xs-6">
					<p>
						By the server:
						<ul>
							<li>Express.js</li>
							<!--li>Passport.js</li-->
						</ul>
					</p>
				</div>
				<div class="col-xs-6">
					<p>
						By the client:
						<ul>
							<li>AngularJS</li>
							<li>Bootstrap</li>
							<li>D3/C3</li>
							<li>JQuery</li>
							<li>RequireJS</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-2 bio-section-action">
			<p><a class="btn btn-default" 
				href="https://github.com/yjeffrey/portfolio" role="button" 
				target="_blank">
				View this in GitHub &raquo;
			</a></p>
		</div>
	</div>
	<div class="row">
		<h1>Who</h1>
		<div class="col-md-10">
			<p>
				My name is Jeffrey.
				I will be finishing my undergraduate studies at the University of British Columbia, located in Canada, 
				in the very near future, and
				my major is in Combined Honours Computer Science and Mathematics.
			</p>
			<p>
				I have a passion for programming, and I enjoy it when there is
				a mathematical twist to the story.
			</p>
			<p>
				Please take a look around the demo section. I will be continuously
				adding more to it.
			</p> 
		</div>
		<div class="col-md-2 bio-section-action">
			<p><a class="btn btn-default" href="assets/pdf/resume.pdf" target="_blank"
				role="button">
				View my Resume &raquo;
			</a></p>
			<p><a class="btn btn-primary" href="assets/pdf/resume.pdf" target="_blank"
				download="Resume_Jeffrey_Yeh.pdf" role="button">
				Download It &raquo;
			</a></p>
		</div>
	</div>
</div>
